*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-pricipal:#F8B5D6;
    --cor-secundaria:#fce4ec;
    --cor-detalhes:#e91e63;
    --cor-detalhes-escuro:#7b1fa2;
    --light:#fff9fb;
    --cor-texto:#4a2a3a;
}
body{
    font-family: 'poppins', sans-serif;
    background-color: var(--light);
    color: var(--cor-texto);
    line-height: 1.6;
}